html {
	font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
	font-family: 'Cabin', sans-serif;
	background-color: #FFCCFF;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #1F3D5C;
	text-shadow: 3px 3px 1px black;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-space: 1px;
}

body {
	
	width: 600px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	border: 5 px solid black;
}

img {
	display: block;
	margin: 0 auto;
}
	
